
.nav-bar {
    background-color: #333;
    overflow: hidden;
}

.inline {
    display: inline;
}

body { 
font-family: Arial, sans-serif; 
text-align: center; 
}

#chat-box { 
width: 80%; 
height: 300px; 
border: 1px solid #ccc; 
overflow-y: scroll; 
margin: auto; 
padding: 10px; 
}

#message-input, #username-input { 
width: 70%; 
padding: 10px; 
}

#send-button, #set-username-button { 
padding: 10px; 
cursor: pointer; 
}

.system-message { 
color: gray; 
font-style: italic; 
}